/* ------------------------------------------------------------------- 
 * ####  Principal
 * ------------------------------------------------------------------- */
body{
    font-family: 'Quicksand', sans-serif !important;
}
/* ------------------------------------------------------------------- 
 * ####  Botones
 * ------------------------------------------------------------------- */
 .btn_type1{
    background-color: #16ce87;
    border-radius: 1px !important;
    padding: 5px 10px !important;
    font-weight: 500 !important;
    color: #fffbf7;
 }