/*
* Aqui se define los estilos del navbar
* Autor: Jazmin Pool
*/

/*Cosas como de responsive*/
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*Propiedades del header*/
.header{
	top: 0;
	background: #fff;
	border-bottom: 1.2px solid #d7dcde;
	position: fixed;
	left: 165px;
	right: 0;
	z-index: 300;
	min-height: 45px;
	padding: 0 15px;
}
/*Fuente del 'logo'*/
.logo{
	color: white !important;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	float: left;
	margin-top: 8px;
	margin-left: 20px;
	font-weight: 700;
	cursor: pointer;
}
.logo:hover{
	color: #278b7b !important;
}
/*cerrar sesion boton*/
.btn_logout{
	font-size: 15px;
	/* float: right; */
	width: 100%;
	margin-top: 200px;
	border-radius: 1px;
}
.btn_logout:hover{
	background-color: #dddada;
}

/*
* 
* SIDENAV
*
*/


/*Propiedades principales del side*/
.sidenav {
	font-family: 'Poppins', sans-serif;
	/* border-right: 1px solid #17191a; */
    height: 100%; /*Alto*/
    width: 165px; /*Ancho*/
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #303641;
    overflow-x: hidden;
    padding-top: 10px;
}

/*iconos del nav*/
.icon_nav{
	padding: 5px 8px 6px 6px;
	text-decoration: none;
}

/*DashPark en nav*/
.logo_nav{
	font-size: 20px !important;
	text-align: center;
	padding: 19px 32px 20px;
	background: #303641;
	font-weight: 600 !important;
	color: #ffffff !important;
	border-bottom: 1px solid #343e50;
}
.logo_nav:hover{
	background-color: #303641 !important;
}

/*Cada opcion del side*/
.sidenav a {
	letter-spacing: 1px;
    padding: 10px 8px 13px 16px;
	text-decoration: none;
	/* border-bottom: 1px solid #0d0e0e; */
    font-size: 15px;
    color: #bbbbbb;
    display: block;
}
.sidenav:focus{
	background-color: #a115155d;
}
.sidenav a:hover {
	background-color: #5e5e5e5d;
}

/**********************
* Colores de iconos nav
***********************/
.sidenav .rep_color:hover{
	color: #a7d2cb !important;
}
.sidenav .corte_color:hover{
	color: #f2d388 !important;
}
.sidenav .chart_color:hover{
	color: #c98474 !important;
}
.sidenav .cincho_color:hover{
	color: #c97490 !important;
}
.sidenav .cajer_color:hover{
	color: #93c178 !important;
}
.sidenav .admin_color:hover{
	color: #eeb6b7 !important;
}
