/*
* Aqui se define las propiedades de todas las tablas
* Autor: Jazmin Pool
*/

/*Tabla corte final*/
.text_table{
	font-size: 18px;
}
/*Tablas pequeñitas*/
.text_table_pq{
	font-size: 17px;
}

table{
	cursor: default;
}
.text_table_md{
	font-size: 15px;
}