 /*Side-Card*/
.side_card{
    height: 100%;
    width: 165px;
    position: fixed;
    top: 45px;
    left:5px;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    padding-top: 10px;
}
.card_bg_side{
    background-color: #202727;
}