@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}