body{
    font-family: 'Poppins', sans-serif !important;
    background-color: #222831 ; 
    /* background-color: #e8e8e8; f3f8fb */
    /* background-color: #f7f7f7 ;  */
    color: #eeb6b7;
}
.bg-dark_{
    background-color: #1a1d24;
}
.bg-white_{
    background-color: #101216;
    font-size: 13px;
}
/* 
    colores:
        a5dfdf

*/
.colores{
    /*Anuales:*/
    color: #ff638556; /*barra*/
    color: #97bbcdcc; /*borde*/
    color: #ff567a69; /*hover barra*/
    color: #97bbcd;/*hover borde*/

    /*Mensuales:*/
    color: #97bbcd80; /*barra*/
    color: #97bbcdcc; /*borde*/
    color: #97bbcdbf; /*hover barra*/
    color: #97bbcd;/*hover borde*/

    /*Diario:*/
    color: #d89e6f80; /*barra*/
    color: #d4844280; /*borde*/
    color: #d67a2e80; /*hover barra*/
    color: #d4844280;/*hover borde*/
    

    color: #a5dfdf;
    color: #ffe6aa;
}
.nav_chart_logo{
    color: #c09f80 !important;
    font-size: 20px !important;
	text-align: center;
	font-weight: 600 !important;
}

.itemnav{
    text-decoration: none !important;
    color: #bbbbbb;
    /* color: #f59bac; */
}
.itemnav:hover{
    color: #97bbcd;
}
.navsec{
    padding-right: 25%;
    padding-left: 25%;
}

/*****************************
* Config de select  
******************************/
.custom-select{
    font-size: 17px !important;
    font-weight: 700;
}


/* Opciones del nav principal */
/**********************
* Colores de iconos nav
***********************/
#sidenav .rep_color:hover{
	color: #a7d2cb !important;
}
#sidenav .corte_color:hover{
	color: #f2d388 !important;
}
#sidenav .chart_color:hover{
	color: #c98474 !important;
}
#sidenav .cincho_color:hover{
	color: #c97490 !important;
}
#sidenav .cajer_color:hover{
	color: #93c178 !important;
}
#sidenav .admin_color:hover{
	color: #eeb6b7 !important;
}


.options{
    margin-right: 1px !important;
    width: 12% !important;
}
.left{
    float: left !important;
}
.right{
    float: right !important;
}